@model WalletAddress

<button class="list-child flex items-center" type="button">
    <img src="@(Model.Chain.LogoUrl)" alt="@(Model.Chain.Name)" class="block dark:brightness-150 w-6 h-6 mr-3">
    <span>
        @(Model.label)
    </span>
    <svg role="img" class="arrow-icon ml-auto w-6 h-6">
        <use xlink:href="/img/sprite.svg#icon-chevron-right"></use>
    </svg>
</button>
