@{
    var isDarkMode = Context.Request.Cookies["darkmode"] == "true";
}
<!DOCTYPE html>
<html lang="en" class="@(isDarkMode ? "dark" : "")">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - multichain</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
@* <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
<body class="relative bg-neutral-100 dark:bg-neutral-800 text-neutral-700 dark:text-gray-100 font-light">
    <header class="flex justify-between items-center lg:hidden p-4">
        <a href="/">
            <svg role="img" class="h-8 w-44 text-slate-600 dark:text-slate-100">
                <use xlink:href="/img/sprite.svg#logotype"></use>
            </svg>
        </a>
        <button type="button" class="btn-icon" id="settings-btn" data-modal="dark-mode-modal">
            <svg role="img" class="h-6 w-6">
                <use xlink:href="/img/sprite.svg#icon-settings"></use>
            </svg>
        </button>
    </header>
    <main class="p-4 lg:p-0">
        @RenderBody()
    </main>
    @* MODALS *@
    <div class="modal" id="dark-mode-modal">
        <div class="modal-body">
            <div class="modal-header">
                <h2>Settings</h2>
                <button type="button" class="btn-icon modal-close">
                    <svg role="img" class="h-5 w-5">
                        <use xlink:href="/img/sprite.svg#icon-x"></use>
                    </svg>
                </button>
            </div>
            <div>
                <div class="grid grid-cols-2 gap-5">
                    <div>
                        <input type="radio" name="dark-mode" id="dark-mode-light" class="light-mode peer hidden">
                        <label for="dark-mode-light" class="block transition-colors rounded-lg cursor-pointer hover:bg-neutral-500/5 border border-neutral-300 text-neutral-300 dark:text-neutral-500 dark:border-neutral-500 peer-checked:border-sky-500 peer-checked:text-sky-500 peer-checked:bg-sky-500/10 p-5">
                            <svg role="img" class="h-5 w-5 mx-auto">
                                <use xlink:href="/img/sprite.svg#icon-sun"></use>
                            </svg>
                        </label>
                    </div>
                    <div>
                        <input type="radio" name="dark-mode" id="dark-mode-dark" class="dark-mode peer hidden">
                        <label for="dark-mode-dark" class="block transition-colors rounded-lg cursor-pointer hover:bg-neutral-500/5 border border-neutral-300 text-neutral-300 dark:text-neutral-500 dark:border-neutral-500 peer-checked:border-sky-500 peer-checked:text-sky-500 peer-checked:bg-sky-500/10 p-5">
                            <svg role="img" class="h-5 w-5 mx-auto">
                                <use xlink:href="/img/sprite.svg#icon-moon"></use>
                            </svg>
                        </label>
                    </div>
                </div>
                <hr class="divider">
                <a href="/logout" class="flex items-center">
                    <svg role="img" class="h-5 w-5 mr-2">
                        <use xlink:href="/img/sprite.svg#icon-logout"></use>
                    </svg>
                    <span>
                        Sign Out of Account
                    </span>
                </a>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
