@model WalletPreviewViewModel 

<div>
    <div class="flex justify-between mb-3">
        <span class="text-neutral-400">Balance</span>
        <span>$@(Model.Total.ToString("N2"))</span>
    </div>
    <div class="flex justify-between mb-3">
        <span class="text-neutral-400">First Activity</span>
        <span>@(Model.FirstActivity)</span>
    </div>
    <div class="flex items-center my-5">
        @if (Model != null)
        {
            foreach (var coin in Model.Balances)
            {
                <div>
                    <img src="@(coin.LogoUrl)" alt="@(coin.ContractName)" class="rounded-full w-10 h-10 mr-1" onerror="this.onerror=null;this.src='/img/placeholder.png';">
                </div>
            }
            if (Model.CoinCount > 3)
            {
                <span class="text-sm text-neutral-400 ml-2">+ @(Model.CoinCount - 3) More Tokens</span>
            }
        }
        else
        {
            <div>Given wallet address has no data!</div>
        }
    </div>
</div>